---
layout: default
---

<article class="container">
    <div class="columns">
        <aside class="menu column">
            <p class="menu-label">
                <a href="/events">Events</a>
            </p>
            <ul class="menu-list">
                <li><a href="event-1.html">Event #1</a></li>
                <li><a href="event-2.html">Event #2</a></li>
                <li><a href="event-3.html">Event #3</a></li>
            </ul>
        </aside>

        <div class="column is-three-quarters">
            <h2>{{page.title}}</h2>
            {{content}}
        </div>
    </div>
</article>

