---
layout: default
---

<article class="container">
    <div class="columns">
        <aside class="menu column">
            <p class="menu-label">
                <a href="/projects">Projects</a>
            </p>
            <ul class="menu-list">
                <li><a href="project-1.html">Project #1</a></li>
                <li><a href="project-1.html">Project #2</a></li>
                <li><a href="project-1.html">Project #3</a></li>
            </ul>
        </aside>

        <div class="column is-three-quarters">
            <h2>{{page.title}}</h2>
            {{content}}
        </div>
    </div>
</article>

